<div class="section__title">
        <h2 class="page-heading">
            {{lang 'ap-base-1.new-products.new' }}
            <span class="text-des text-center">{{lang 'ap-base-1.new-products.description' }}</span>
        </h2>
</div>
<section class="productCarousel"
    data-slick='{
        "dots": false,
        "arrows": false,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "rows":{{ rows }},
        "autoplay": true,
        "responsive": [
            {
                "breakpoint": 1260,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow": {{ columns }}
                }
            },
            {
                "breakpoint": 992,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow": 1
                }
            },
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToScroll": 1,
                    "slidesToShow": 1
                }
            }
        ]
    }'
>
    {{#each products}}
    <div class="productCarousel-slide product">
        {{> components/products/card theme_settings=../theme_settings customer=../customer show_rating=../settings.show_product_rating show_compare=../settings setting_show = ../settings}}
    </div>
    {{/each}}
</section>
